.bg-dark,
.btn-dark {
  background: linear-gradient(45deg, black, gray, black);
}

.btn-primary {
  background: linear-gradient(45deg, white, rgb(209, 206, 206), rgb(180, 180, 180));
  border-color: black !important;
  color: black !important;
}